<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
          <div class="card card-striped">
              <div class="header">
                  <h4 class="title">Critérios de búsqueda</h4>
              </div>
              <div class="content">
                  <div class="row">
                      <div class="col-md-3">
                          <div class="form-group">
                              <label>Nombre</label>
                              <input type="text" class="form-control border-input md-6" name="" id="">
                          </div>
                      </div>
                      <div class="col-md-2">
                          <div class="form-group">
                              <label>Correo</label>
                              <input type="text" class="form-control border-input md-6" name="" id="">
                          </div>
                      </div>
                      <div class="col-md-3">
                       <div class="form-group m-zero-b">
                          <label>Correo</label> 
                          </div> 
                      </div>

                      <div class="col-md-2"> 
                          <div class="m-top">
                              <button type="button" class="btn btn-primary btn-fill btn-block">Buscar</button> 
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-md-12">
              <div class="card card-striped">
                  <div class="header">
                      <h4 class="title">Lista de Perfiles</h4>
                      <p class="category"><a [routerLink]="['new']">Agregar Nuevo</a></p>
                  </div>
                  <div class="content table-responsive table-full-width">
                      <table class="table table-plain">
                          <thead>
                              <tr>
                                 <th>#</th>
                                 <th>Nombre</th>
                                 <th>Descripción</th>
                                 <th>Opciones</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let k of profiles | keys; let i = index">
                                <td [innerHtml]="i + 1"></td>
                                <td [innerHtml]="profiles[k].nombre"></td>
                                <td [innerHtml]="profiles[k].descripcion"></td>
                                <td>
                                    <button [routerLink]="['edit', k]"
                                        type="button" 
                                        class="btn btn-info btn-fill">
                                        <span class="ti-pencil-alt"></span>
                                    </button>
                                    <button (click)="deleteProfile(k)"
                                        type="button" 
                                        class="btn btn-danger btn-fill">
                                        <span class="ti-trash"></span>
                                    </button>
                                </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
  </div>
</div>