<div class="sidebar-wrapper">
    <div class="logo">
        <a href="https://www.creative-tim.com" class="simple-text">
            <div class="logo-img">
                <img src="../../assets/img/angular2-logo.png" alt="">
            </div>
            Creative Tim
        </a>
    </div>
    <ul class="nav">
        <li *ngIf="isNotMobileMenu()">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="ti-panel"></i>
                <p>Stats</p>
            </a>
        </li>
        <li class="dropdown" *ngIf="isNotMobileMenu()">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="ti-bell"></i>
                    <p class="notification">5</p>
                    <p>Notifications</p>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                <li><a href="#">Notification 1</a></li>
                <li><a href="#">Notification 2</a></li>
                <li><a href="#">Notification 3</a></li>
                <li><a href="#">Notification 4</a></li>
                <li><a href="#">Another notification</a></li>
                </ul>
        </li>
        <li *ngIf="isNotMobileMenu()">
            <a href="#">
                <i class="ti-settings"></i>
                <p>Settings</p>
            </a>
        </li>
        <li class="divider" *ngIf="isNotMobileMenu()"></li>
        <li *ngFor="let menuItem of sideBar; let i = index"
            routerLinkActive="active" >
            <a [id]="'menu' + i" data-toggle="collapse" aria-expanded="false"
                [attr.data-target]="'#' + menuItem.title">

                <i class="{{menuItem.icon}}"></i>
                <p [innerHtml]="menuItem.title"></p>
            </a>
            <ul [ngStyle]="{'margin-left.px': 20}" class="nav collapse" [id]="menuItem.title" role="menu" [attr.aria-labelledby]="'menu' + i">
                <li routerLinkActive="active"><a>Link 2.1</a></li>
                <li routerLinkActive="active"><a>Link 2.2</a></li>
                <li routerLinkActive="active"><a>Link 2.3</a></li>
            </ul>
              <!-- <li>
                  <a href="#" id="btn-1" data-toggle="collapse" data-target="#submenu1" aria-expanded="false">
                      Link 2 (toggle)
                   </a>
                    <ul class="nav collapse" id="submenu1" role="menu" aria-labelledby="btn-1">
                      <li><a href="#">Link 2.1</a></li>
                      <li><a href="#">Link 2.2</a></li>
                      <li><a href="#">Link 2.3</a></li>
                    </ul>
                  </li> -->

            

                  <!-- CREATIVE TIM -->
                <!-- <div class="collapse" [id]="menuItem.title" aria-expanded="false">
                    <ul class="nav">
                        <li routerLinkActive="active">
                            <a [routerLink]="[menuItem.path]">
                                <span class="sidebar-normal">Over</span>
                            </a>
                        </li>
                    </ul>
                </div> -->


                <!-- <div class="collapse" [id]="menuItem.title" aria-expanded="false">
                    <ul class="flex-column pl-2 nav">
                        <li routerLinkActive="active" class="nav-item"><a class="nav-link py-0" href="">Orders</a></li>
                        <li routerLinkActive="active" class="nav-item"><a class="nav-link py-0" href="">ASD</a></li>
                    </ul>
                </div> -->

         
            
             
        </li>
    </ul>
  </div>
  