<div class="sidebar-wrapper">
    <div class="logo">
        <a href="https://www.creative-tim.com" class="simple-text">
            <div class="logo-img">
                <img src="../../assets/img/angular2-logo.png" alt="">
            </div>
            Creative Tim
        </a>
    </div>
    <ul class="nav">
        <li *ngIf="isNotMobileMenu()">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="ti-panel"></i>
                <p>Stats</p>
            </a>
        </li>
        <li class="dropdown" *ngIf="isNotMobileMenu()">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="ti-bell"></i>
                    <p class="notification">5</p>
                    <p>Notifications</p>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                <li><a href="#">Notification 1</a></li>
                <li><a href="#">Notification 2</a></li>
                <li><a href="#">Notification 3</a></li>
                <li><a href="#">Notification 4</a></li>
                <li><a href="#">Another notification</a></li>
                </ul>
        </li>
        <li *ngIf="isNotMobileMenu()">
            <a href="#">
                <i class="ti-settings"></i>
                <p>Settings</p>
            </a>
        </li>
        <li class="divider" *ngIf="isNotMobileMenu()"></li>
        <li aria-expanded="false" data-toggle="collapse" 
            class="collapse" *ngFor="let menuItem of sideBar"
            routerLinkActive="active" >
            <a [routerLink]="[menuItem.path]">
                <i class="{{menuItem.icon}}"></i>
                <p>
                    {{menuItem.title}}
                    <!-- <b *ngIf="menuItem.menu.length" class="caret"></b> -->
                </p>
                <div class="collapse" aria-expanded="true">
                    <ul class="nav">
                        <li routerLinkActive="active">
                            <a href="#">
                                <span class="sidebar-mini">O</span>
                                <span class="sidebar-normal">Overview</span>
                            </a>
                        </li>
                    </ul>

                </div>
                <!-- <div *ngIf="menuItem.menu.length" class="collapse in" aria-expanded="true" style="">
                    <ul *ngFor="let item of menuItem.menu" class="nav">
                        <li routerLinkActive="active">
                            <a href="#">
                                <span class="sidebar-mini">O</span>
                                <span class="sidebar-normal">Overview</span>
                            </a>
                        </li>
                    </ul>
                </div> -->
            </a>
           
        </li>
    </ul>
  </div>
  